@charset "UTF-8";

/* 回答はここに書いてね */
.wrapper2{
  padding: 20px;
  background-color: #ECF1F2;
}

.grid {
  font-size: 0;
  margin: 20px -10px 0px -10px
}

.grid:first-child{
  margin: 0px -10px 0px -10px;
}

.all-grid{
  display: inline-block;
  padding: 0px 10px;
  box-sizing: border-box;
}

.grid1 {
  width: 100%;
}

.grid2 {
  width: 50%;
}

.grid3 {
  width: 33.3%;
}

.grid4 {
  width: 25%;
}

.grid5 {
  width: 20%;
}

.grid6 {
  width: 16.6%;
}

.all-txt{
  background-color: #FFF;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
}

.txt1 {
  
}

.txt2 {
  
}

.txt3 {
  
}

.txt4 {

}

.txt5 {

}

.txt6 {

}

.txt7 {

}

.txt8 {

}
/* 回答はここに書いてね */
