@charset "UTF-8";

/* 回答はここに書いてね */
.wrapper2 {
  padding: 20px;
  background-color: #ECF1F2;
}
.all-txt {
  background-color: #FFF;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
}

.all-grid {
  display: inline-block;
  padding: 0px 10px;
  box-sizing: border-box;
}

.grid {
  font-size: 0;
  margin: 20px -10px 0px -10px
}

.grid:first-child {
  margin: 0px -10px 0px -10px;
}

.grid__cell__width__100 {
  width: 100%;
}

.grid__cell__width__50 {
  width: 50%;
}

.grid__cell__width__33 {
  width: 33.3%;
}

.grid__cell__width__25 {
  width: 25%;
}

.grid__cell__width__20 {
  width: 20%;
}

.grid__cell__width__16 {
  width: 16.6%;
}
/* 回答はここに書いてね */
/*修正点
いらないクラスの削除/
クラスの名前を修正/
 */
