@charset "UTF-8";

/* 回答はここに書いてね */
.contents__textalign {
  text-align: center;
}

.ccontents__textalign__inner {
  display: inline-block;
  width: 90px;
  padding: 10px 0;
  background-color: #e6f2ff;
}

.contents__margin {
  width: 90px;
  padding: 10px 0;
  background-color: #e6f2ff;
  margin: 0 auto;
  text-align: center;
}

/*クイズ２*/

.contents__vertical__table {
  display: table;
}

.contents__vertical__table__inner {
  display: table-cell;
  background-color: #ecf1f2;
  text-align: center;
  vertical-align: middle;
}

.contents__vertical__table__inner__txt {
  padding: 10px;
  background-color: #FFF;
  display: inline-block;
}

.contents__vertical__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents__vertical__flex__txt {
  background-color: #FFF;
  padding: 10px;
}



.contents__position__box__stable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 110px;
  height: 30px;
}

.contents__position__box {
  position: relative;
}

.contents__position__box__flexible {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translate(-50%);
}
/* 回答はここに書いてね */
/*修正点
txtboxなどのクラス名をわかりやすいものに直す
*/
