@charset "UTF-8";

/* 回答はここに書いてね */
.main  {
  padding: 20px;
  background-color: #eff3f4;
  width: 900px;
  margin: 0 auto;
}

.main > li  {
  background-color: #3274ae;
  padding: 20px;
  float: left;
  margin-left: 20px;
}

.main > li:first-child  {
  margin-left: 0;
}

.txt  {
  color: black;
  font-size: 16px;
  line-height: 16px;
  background-color: #eaf4ff;
  width: 230px;
  border: 10px #022336 solid;
  padding: 20px;
  box-sizing: border-box;
}

.clearfix:after  {
  content: "";
  display: block;
  clear: both;
}

/* 回答はここに書いてね */
/*修正点
wrapper2を消す/
mainにwrapper2を移す/
インデント（全レイアウトパーツ）とテキスト修正*/


