@charset "UTF-8";

/* 回答はここに書いてね */


.content {
  width: 100%;
  border: 1px solid #dedede;
  table-layout: fixed;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.content > thead th:not(:first-child) {
  border-left: 1px solid #dedede;
}

.content > tbody > tr {
  border-top: 1px solid #dedede;
}

.content > tbody > tr:nth-child(even) {
  background-color: #ECF1F2;
}

.content > tbody > tr:last-child {
  border-top: 2px dashed #000;
}

.content th {
  padding: 10px;
  background-color: #24a;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  vertical-align: middle;
}

.content td {
  padding: 10px;
  border-left: 1px solid #dedede;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
}
/* 回答はここに書いてね */
/*修正点
- trとthタグについているクラスを消す/
- Nth-childとlast-childを使う/
*/
