@charset "UTF-8";

/* 回答はここに書いてね */
.content {
  width: 100%;
  padding: 20px;
  background-color: #ECF1F2;
  display: table;
  box-sizing: border-box;
}

.contents__cell {
  display: table-cell;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.orange__block {
  background-color: #FDC8B8;
  width: 100px;
}

.purple__block {
  background-color: #E0ABD9;
}

.blue__block {
  background-color: #B6D8ED;
  width: 100px;
}

.brown__block {
  background-color: #E5D32E;
}

.yellow__block {
  background-color: #E4E67C;
}

.green__block {
  background-color: #8FDCAD;
  width: 500px;
}
/* 回答はここに書いてね */
/*修正点
クラス名の修正
 */